<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./header/header.ejs') %>
    <style>
        .resume{
            margin-top: 5px;
            width: auto;
            height: 1000px ;
            filter: grayscale(100%);
            
        }

        .resume:hover {

            filter: grayscale(0%);
            filter: drop-shadow(8px 8px 10px gray);
        }

        @media only screen  and (max-width : 770px) {
            
            .resume{
            width: auto;
            height: 650px ;

        }
    }

        @media only screen  and (max-width : 500px) {
            
            .resume{
            width: auto;
            height: 550px ;
            }
        }
    </style>

</head>
 

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
 <nav class="navbar-default">
  <%- include('./navbar/navbar.ejs') %>
</nav>

<div class="section-container">
  <div class="container">
  <center>
   <div class="black-image-project-hover">
    <p class="form-group"> Click here to download my resume </p> 
    <a href="./assets/resume/harshal-makwana.pdf" class="btn btn-default" download="resume"> download </a>
   </div>
    <img src="./assets/resume/harshal-makwana.png" class="resume " / >
  </center>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">

    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="./main.70a66962.js"></script></body>

</html>